<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="trace">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd EEE HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>

		<!-- for GlassFish v4.1 the logs will be in the domains directory -->
		<RollingFile name="restRollingFile"
			fileName="../standalone/log/ideiasportsgroup/ideiasportsgroup_rest.log" append="true"
			filePattern="../standalone/log/ideiasportsgroup/$${date:yyyy-MM}/ideiasportsgroup_rest-%d{yyyy-MM-dd}-%i.log.zip"
			ignoreExceptions="false">
			<PatternLayout
				pattern="%d{yyyy-MM-dd EEE HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" level="TRACE" />
		</Root>
		<Logger name="br.com.ideiasportsgroup.web.restfull.rest.beans"
			level="TRACE" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="restRollingFile" />
		</Logger>
	</Loggers>
</Configuration>